# Lists

### List Of Intergers

* A list containing only integers.

In [53]:
A1 = [1, 2, 3, 4, 5]
print(A1)

[1, 2, 3, 4, 5]

### List of Strings

* A list containing only strings

In [51]:
B1 = ["apple", "banana", "cherry"]
print(B1)

['apple', 'banana', 'cherry']

### List of Booleans

* A list containing only boolean Values

In [16]:
C1 = [True, False, True, False]
print(C1)

[True, False, True, False]

### List of Mixed Data Types

* A list containing integers, strings, booleans, and floats.

In [20]:
D1 = [1, "apple", True, 3.14]
print(D1)

[1, 'apple', True, 3.14]

### List of Lists

* A list containing other lists as elements

In [49]:
E1 = [[1, 2], ["a", "b"], [True, False]]
print(E1)

[[1, 2], ['a', 'b'], [True, False]]

### Nested List (2D List)

* A list that represents a matrix or 2D array.

In [47]:
F1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(F1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List of Tuples

* A list containing tuples as elements.

In [36]:
G1 = [(1, "apple"), (2, "banana"), (3, "cherry")]
print(G1)

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]

### List of Dictionaries

* A list containing dictionaries as elements.

In [45]:
H1 = [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}]
print(H1)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}]

### List of Floats

* A list containing only floating-point numbers.

In [57]:
I1 = [1.1, 2.2, 3.3, 4.4]
print(I1)

[1.1, 2.2, 3.3, 4.4]

### List of Ranges

* A list created using the range() function.

In [69]:
J1 = list(range(5))
print(J1)

[0, 1, 2, 3, 4]

### List of Characters

* A list containing individual characters as strings.

In [71]:
K1 = ['a', 'b', 'c', 'd']
print(K1)

['a', 'b', 'c', 'd']

### List of Sets

* A list containing sets as elements.

In [75]:
L1 = [{1, 2}, {3, 4}, {5, 6}]
print(L1)

[{1, 2}, {3, 4}, {5, 6}]

### List of Boolean Expressions

* A list containing boolean expressions (evaluated to True or False).

In [81]:
M1 = [5 > 3, 2 == 2, 1 < 0]
print(M1)

[True, True, False]

In [83]:
M2 = [5 < 2 , 2 > 1]
print(M2)

[False, True]

### List of Even Numbers

* A list containing only even numbers, possibly generated with a comprehension.

In [87]:
N1 = [x for x in range(10) if x % 2 == 0]
print(N1)

[0, 2, 4, 6, 8]

In [99]:
N2 = [x for x in range(50) if x % 4 == 0]
print(N2)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

### Using the index() Method

* The index() method returns the first index at which a given element appears in a list.

In [105]:
P1 = ["apple", "banana", "cherry", "date"]
P2 = P1.index("banana")
print(P2)

1

In [107]:
P1 = ["apple", "banana", "cherry", "date"]
P2 = P1.index("date")
print(P2)

3